@import 'reset.scss';

$primaryColor: #48555B;
$secondColor: #FFFFFF;
$styleColor: #00A4E5;
body {
    color: $primaryColor;
    font-size: 11px;
    font-family: 'Open Sans';
}
.container {
    height: 100%;
    max-width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
}

.first-page {
    background: url('../media/background/first-page-background.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    &__text {
        text-align: center;
        font-size: 16px;
        line-height: 150%;
        color: $secondColor;
        h1 {
            text-align: center;
            text-transform: uppercase;
            color: $secondColor;
            font-family: 'Bebas Neue';
            font-size: 60px;
            line-height: 120%;
            letter-spacing: 6px;
        }
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $secondColor;
        font-size: 11px;
        line-height: 150%;
        letter-spacing: 4px;
        transition: .3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.header {
    padding: 24px 0px;
    border-bottom: 1px solid #E6E6E6;
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__links {
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__link {
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $primaryColor;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1px;
            font-weight: 600;
            &:hover {
                color: $styleColor;
                font-weight: bold;
            }
        }
    }
}